.file-form {
  .ant-btn-primary {
    margin: 15px 0;
    background-color: #8700a1;
    border: none;
    box-shadow: -3px 7px 4px 0 rgba(9, 8, 11, 0.2), 0 6px 20px 0 rgba(41, 9, 82, 0.274);
  }

  .ant-btn-primary:hover {
    background-color: #bc0ed3;
    border: none;
  }

  .ant-btn-primary:focus {
    background-color: #bc0ed3;
    border: none;
  }
}
